/*--------------------
 BODY
 --------------------- */


body{

background-color: #E6E6E6;;
font-family: 'Poppins', sans-serif;
}
/* -----------------------
MAIN
-------------------------- */
main{
  
    display: grid;
 justify-content: center;
 align-items: center;
    

    
}
/* -------------------------
conmebol-cup-style
---------------------------- */
.container{
   
    width:1300px ;
    
    height:4100px;
    background: #FFFFFF;
    
}
.player-album-container{
    margin-top: 70px;
}
.player-album-container-two{
    margin-top: 69px;
}
.player-album-containner-four{
    margin-top: 86px;

}


.conmebol-cup-title{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 102px;
    background-color:blue;
    border: 3px solid blue;
    

}
.conmebol-cup{
    position: relative;
}
.conmebol-heading{
    margin-top: 0px;

    margin-left: 120px;
    font-size: 50px;
    color: #FFFFFF;
}
.button{
    position: absolute;
        background: #E02C6D;
        color: #FFFFFF;
        padding: 10px 24px;
        text-decoration: none;
    
        margin-bottom: 50px;
        margin-left: 119px;
        font-weight: 700;

}
span{
    color: yellow;
}


.conmebol-cup-banner img{
    
    width: 377.7px;
    height: 292px;
    margin-top: 153px;
    margin-right: 93.33px;
    margin-bottom: 57.33px;
}
/* --------------------------
player-album-stylesheet 
-----------------------------*/


.player-fream, .player-fream-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
    margin-left: 10%;
    width: 1050px;
     
}
#player-shadow, #player-shadow-seven, #player-shadow-eight, #player-shadow-nine, #player-shadow-ten, #player-shadow-eleven, 
#player-shadow-twelve{

    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-two{
   
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
}
#player-shadow-three{
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-four{
    
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-five{
   
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-six{

    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}

.plyer img{
  
    padding: 15px;
    width: 240px;
    height: 230px;
    margin-top: 8%;
    margin-left: 9%; 
     border-radius: 20px;
   
   
    
}

.player-name{
  margin-left: 13%;
 
}
.player-info{
    float: none;
    font-size: 17px;
    width: 290px;
    margin-left: 12.5%;
}
/* All Highlight stylesheet */
.All-Highlights-input{
   position: relative;
}
.All-Highlights-details{
    display: flex;
}
.All-Highlights-input{
    justify-items: center;
}
.Highlights-heading {
    margin-top: 165px;
    margin-left: 126px;
    font-size:50px;
    color: rgb(48, 56, 52);
}
.Highlights-description{
    width: 500px;
    height: 300px;
    margin-left: 126px;
    margin-right: 50px;
    color: rgb(150, 147, 147);
}
.anchor{
    position: absolute;
    background: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    text-decoration: none;
    margin-top: 32px;
    margin-left: -350px;
    font-weight: 700;
}

.All-Highlights-match img{
    width: 567px;
    height: 427px;
    margin-top: 106px;
    margin-right: 156px;
}
/*-- football-banner-stlesheet --> */
.banner-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.football-banner img{
    width: 50%;
    margin-left: 300px;
}
.awesome-font{
    display: flex;
    margin-left: 170px;
    align-items: center;
    justify-content: center;

}

.awesome-font-one img, .awesome-font-two img, .awesome-font-three img, .awesome-font-four img{
    width: 50%;
    
}
.copy-right{
margin-left: 80px;
color:rgb(63, 59, 59) ;
font-weight: 500;
font-family: sans-serif;
}
/*-----------------------
 media-querise 
 ------------------------*/
 /*-----------------------
  mobile-divie 
  ------------------------*/
  @media screen and (max-width:688px) {
      .conmebol-cup-title, .conmebol-cup{
          width: 90%;
      }
  }

