/*--------------------
 BODY
 --------------------- */


body{

background-color: #E6E6E6;;
font-family: 'Poppins', sans-serif;
}
/* -----------------------
MAIN
-------------------------- */
main{
  
    display: grid;
 justify-content: center;
 align-items: center;
    

    
}
/* -------------------------
conmebol-cup-style
---------------------------- */
.container{
   
    width:1300px ;
    /* margin-top:5996px; */
    height: px;
    background: #FFFFFF;
    
}
.player-album-container-two, .player-album-containeer-three, .player-album-containner-four{
    margin-top: 20px;
}


.conmebol-cup-title{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 68px;
    background-color:blue;
    border: 3px solid blue;
  margin-bottom: 50px;

}
.conmebol-heading{
    margin-top: 138px;

    margin-left: 104px;
    font-size: 42.66px;
    color: #FFFFFF;
}
.button{
        background: #E02C6D;
        color: #FFFFFF;
        padding: 10px 24px;
        text-decoration: none;
        margin-top: 18px;
        margin-left: 104px;
        font-weight: 700;

}
span{
    color: yellow;
}


.conmebol-cup-banner img{
    
    width: 377.7px;
    height: 292px;
    margin-top: 153px;
    margin-right: 93.33px;
    margin-bottom: 57.33px;
}
/* --------------------------
player-album-stylesheet 
-----------------------------*/


.player-fream, .player-fream-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
    margin-left: 10%;
    width: 1050px;
     
}
#player-shadow, #player-shadow-seven, #player-shadow-eight, #player-shadow-nine, #player-shadow-ten, #player-shadow-eleven, 
#player-shadow-twelve{

    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-two{
   
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
}
#player-shadow-three{
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-four{
    
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-five{
   
    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}
#player-shadow-six{

    background: #f7f5f5;
    box-shadow: 0px 0px 12px 1px  rgb(226, 224, 224);
    border: 2px solid rgb(240, 236, 236);
    border-image-slice: 1;
    
}

.plyer img{
  
    padding: 15px;
    width: 240px;
    height: 230px;
    margin-top: 8%;
    margin-left: 9%; 
     border-radius: 20px;
   
   
    
}

.player-name{
  margin-left: 13%;
 
}
.player-info{
    float: none;
    font-size: 17px;
    width: 290px;
    margin-left: 12.5%;
}